In [1]:
import pandas as pd
import seaborn as sb

In [2]:
#reading in csv files that we will use
multi_df = pd.read_csv('Multi_Value_Numbeo.csv') 
quality_df = pd.read_csv('Quality_of_Life_Numbeo.csv')
property_df = pd.read_csv('Property_Prices_Numbeo.csv')

In [3]:
#Checking to see if there are any null - empty values in dataset
print(multi_df.isnull().sum())
print("-----------------------------------")
print(quality_df.isnull().sum())
print("-----------------------------------")
print(property_df.isnull().sum())

Rank                            0
City                            0
Cost of Living Index            0
Rent Index                      0
Cost of Living Plus Rent        0
Groceries Index                 0
Resaurant Price Index           0
Local Purchasing Power Index    0
dtype: int64
-----------------------------------
Rank                              0
City                              0
Quality of Life Index             0
Purchasing Power Index            0
Safety Index                      0
Health Care Index                 0
Cost of Living Index              0
Property Price to Income Ratio    0
Traffic Commute Time Index        0
Pollution Index                   0
Climate Index                     0
dtype: int64
-----------------------------------
Rank                                          0
City                                          0
Price To Income Ratio                         0
Gross Rental Yield City Centre                0
Gross Rental Yield Outside of Centre          0
Price To Rent Ratio City Centre               0
Price To Rent Ratio Outside Of City Centre    0
Mortgage As A Percentage Of Income            0
Affordability Index                           0
dtype: int64

In [5]:
#checking to see how many rows are in the df
print("Multi_df",multi_df.shape[0])
print("Quality_df",quality_df.shape[0])
print("Property_df",property_df.shape[0])

Multi_df 573
Quality_df 250
Property_df 480

if 'Adelaide, Australia' not in multi_df.City:
    print("yes")

In [6]:
multi_df = multi_df.drop("Rank",axis=1)
quality_df = quality_df.drop("Rank",axis=1)
property_df = property_df.drop("Rank",axis=1)

In [15]:
df = pd.merge(multi_df, property_df, on='City')

In [16]:
df.shape[0]

440

In [21]:
df_withLife = pd.merge(df, quality_df, how='inner',on='City')

In [23]:
df_withLife.shape[0]

241

In [33]:
df_withLife.head()

,City,Cost of Living Index_x,Rent Index,Cost of Living Plus Rent,Groceries Index,Resaurant Price Index,Local Purchasing Power Index,Price To Income Ratio,Gross Rental Yield City Centre,Gross Rental Yield Outside of Centre,...,Affordability Index,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index_y,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index
0,"Zurich, Switzerland",132.00,65.85,100.30,133.03,120.68,123.01,8.10,3.29,3.80,...,2.18,199.53,123.01,83.87,75.94,132.00,8.10,33.53,16.63,81.48
1,"Geneva, Switzerland",128.14,66.41,98.56,127.77,119.58,114.18,9.25,3.23,3.55,...,1.83,186.60,114.18,72.59,73.08,128.14,9.25,25.49,25.99,82.61
2,"New York, NY, United States",100.00,100.00,100.00,100.00,100.00,100.00,10.39,4.85,5.43,...,1.34,136.75,100.00,53.84,61.59,100.00,10.39,43.13,59.11,79.66
3,"Oslo, Norway",95.41,40.20,68.95,90.14,94.37,87.20,10.92,3.13,3.59,...,1.39,164.11,87.20,64.16,75.26,95.41,10.92,31.92,24.79,59.99
4,"Honolulu, HI, United States",95.08,63.69,80.04,101.17,79.75,75.98,9.35,5.42,6.53,...,1.46,154.85,75.98,55.43,72.42,95.08,9.35,41.19,36.82,95.33

In [32]:
print(df_withLife.columns)

Index(['City', 'Cost of Living Index_x', 'Rent Index',
       'Cost of Living Plus Rent', 'Groceries Index', 'Resaurant Price Index',
       'Local Purchasing Power Index', 'Price To Income Ratio',
       'Gross Rental Yield City Centre',
       'Gross Rental Yield Outside of Centre',
       'Price To Rent Ratio City Centre',
       'Price To Rent Ratio Outside Of City Centre',
       'Mortgage As A Percentage Of Income', 'Affordability Index',
       'Quality of Life Index', 'Purchasing Power Index', 'Safety Index',
       'Health Care Index', 'Cost of Living Index_y',
       'Property Price to Income Ratio', 'Traffic Commute Time Index',
       'Pollution Index', 'Climate Index'],
      dtype='object')